
.form-heading{
    font-weight: bold;
	font-style: italic;
    font-size: larger;
color:rebeccapurple;}
.form label{
    display: block;
    font-weight: bold;
	float: left;
    color: red;
}
</style>